@import '@/styles/functions.scss';
@import '@/styles/icon.scss';

$widht-main-page: 1200px;

//* color
$coolorDarkTxt: rgb(14, 14, 14);
$colorBody: #F4F4F4;
// $primaryColor: #4EA25D;
$primaryColor: hsl(0, 88%, 66%);
$bgMenu: #F1F2F6;
$strokeMenu: #C0C0C4;
$menu-hover-text: #ffffff;

$icon-add: #50C258;
$icon-edit: hsl(38, 92%, 64%);
$icon-del: #F5615E;

// $color-th: #f1f0d3;
// $color-th: #eef5f1;
$color-th: $bgMenu;
$color-tr-odd: #FDFDFD;
$color-tr-even: #EDEDED;
// $table-input-focus-border: #fd3995;
$table-input-focus-border: #ff8000;
$table-input-focus-bg: #fffefe;
$price-container-bg: hsl(228, 42%, 95%);

//* btns
$btns-hvr-eclipse: 20%;
$btn-shadow: 0 2px 6px;
$btn-shadow-opacity: 0.5;
$btn-close: hsl(0, 0%, 53%);
$btn-close-hvr: hsl(0, 0%, 53% - $btns-hvr-eclipse);
$btn-save: $primaryColor;
$btn-save-hvr: hsl(0, 88%, 66% - $btns-hvr-eclipse);


//* widht
$w-menu: 215px;
$header-h: 43px;

//*font-size
$fs-default: rem(16);
$fs-title: rem(22);
$fs-menu: rem(20);

//* margin/padding
$pd-page: rem(10);
$margin-primary: rem(24);

//* shadow
$shd-blocks: -4px -4px 12px #262626;

//* gradients
$menu-hover: linear-gradient(90deg, #4EA25D 0%, #A0E2AC 100%);

body {
    color: $coolorDarkTxt;
}

.btn {
    border: none;
    padding: 10px;
    color: #ffff;
    font-size: rem(16);
    border-radius: rem(10);
    transition: all 0.3s ease 0s;
    overflow: hidden;
    position: relative;
    &:hover {
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}

.input {
    padding: rem(5);
    border: 1px solid $strokeMenu;
    border-radius: rem(5);
    // min-width: 100%;
    &:focus {
        border: 1px solid $table-input-focus-border;
        outline: none;
        background-color: $table-input-focus-bg;
    }
}